*.ml
*.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.class
.DS_Store
captures
.settings
.classpath
bin
coverage
coverage.ec
coverage.em
gen
javadoc
junit-report.xml
lint-results.*ml
lint-results_files
local.properties
monkey.txt
*~
*.iws
atlassian-ide-plugin.xml
targetiml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild



