<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocedar.sdk.familydoctor">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".app.RCFDMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDSpecialistActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDSpecialistIntroducedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDSpecialistRecordDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDSpecialistEvaluateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".app.RCFDInstitutionsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDHBPConsultProfessorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".app.RCFDAddUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCFDQuestionActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".app.RCMingYiDoctorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.RCXunYiUserPerfectActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.RCXunYiInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.RCXunYiSelectServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.RCXunYiConsultDetailsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".app.RCMingYiCompleteMaterialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".app.RCMingYiDoctorDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.RCMingYiConsultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".app.RCMingYiOrderParticularsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".app.RCFDPatientListActivity" />


        <service android:name=".util.MediaPlayerService"></service>

    </application>


</manifest>
